* {
    box-sizing: border-box;
}

*::-webkit-scrollbar{
    overflow: hidden;
    width: 5px;
}

*::-webkit-scrollbar-thumb{
    background-color: #DBDBDB;
    border-radius: 5px;
}

body{
    margin: 0;
    background: #3f9fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 1000px;
    margin: auto;
    padding: 20px;
}
.title {
    color: whitesmoke;
    font-size: 30px;
}
.main-container{
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    padding: 25px 30px;

    background: white;
    border-radius: 10px;
    
    min-width:450px;
    max-height: 500px;
    overflow: auto;
}

.make-todo {
    margin: 5px;
}

.todo-input {
    position: relative;
    padding: 12px;
    width: 90%;
    height: 45px;

    color: #111111;
    font-weight: 500;
    font-size: 15px;

    border-radius: 5px;
    border-bottom: 2px solid #131313;
}   

.button-make-todo {

    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
    height: 45px;
    width: 60px;
    border-radius: 5px;
    position: absolute;

    background-color: #3f9fff;
    color: #ffffff;
}


ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
}