* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #3f9fff;
}

.container {
    display: flex;
    min-width: 700px;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}
.title {
    color: whitesmoke;
    font-size: 30px;
}
.main-container{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin: 40px 0px;
    padding: 25px 30px;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;

    background: white;
    border-radius: 10px;
    
    min-width:450px;
    min-height: 100px;
    transform: translate(-50%,-50%);
}
.make-todo {
    margin: 5px;
}

.todo-input {
    position: relative;
    padding: 12px;
    width: 90%;
    height: 45px;

    color: #111111;
    font-weight: 500;
    font-size: 15px;

    border-radius: 5px;
    border: 2px solid #131313;
}   

.button-make-todo {
    background-color: #3f9fff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 45px;
    width: 60px;
    border-radius: 5px;
    position: absolute;
    transform: translateX(-50%);
}


ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
}