.todo-list {
    padding: 20px;
    background: white;
    border-radius: 3px;
}

.jobs-todo {
    padding: 5px 10px;
    width: 95%;
    height: 50px;
    flex-wrap: wrap;    
    position: relative;
    top: 30px;

    margin-bottom: 8px;
    border-radius: 5px;


    background-color: #c5e1e6;
    border: 1px solid #fafafa;
    cursor: pointer;
}
