.todo-list {
    padding: 20px;
    background: white;
    border-radius: 3px;
}


.todo-content{
    margin: 5px;
}

.jobs-todo-content {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 40px;

}

.delete-button {
    float: right;
}

.jobs-todo{
    margin: 0;
    padding: 0;
}

.jobs-todo-detail{
    display: flex;
    justify-content: space-between;


    width: 90px;
}

.delete-button{
    border: none;
    border-radius: 5px;
    color: #FFF;

    width: 40px;

    background-color: #3F9FFF;
    cursor: pointer;
}

.calendar-add-button{
    border: none;
    border-radius: 5px;

    width: 40px;

    color: #FFF;
    background-color: #3F9FFF;
    cursor: pointer;
}

.delete-button:hover{
    background-color: #FFB840;
}

.calendar-add-button:hover{
    background-color: #FFB840;
}